<% if current_user.picture? %>
	<%= link_to image_tag(current_user.picture, width: '50'), current_user %>
<% else %>
	<%= link_to image_tag("DefaultProfileIcon.png", width: '50', alt: "Profile Picture"), current_user %>
<% end %>

<br>

<h1><%= current_user.name %></h1>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>