<li id="micropost-<%= micropost.id %>">
	
	<% if micropost.user.picture? %>
		<%= link_to image_tag(micropost.user.picture, width: '50'), micropost.user %>
	<% else %>
		<%= link_to image_tag("DefaultProfileIcon.png", width: '50', alt: "Profile Picture"), micropost.user %>
	<% end %>
	
	<br>
	<span class="user"><%= link_to micropost.user.name, micropost.user %></span>
	<span class="content">
		<% url = generate_url_attributes_preview(micropost.content) %>
		<% if url %>
			<%= link_to url.title, micropost.content %>
			<%= link_to image_tag(url.images.first.src.to_s, width: '400'), micropost.content %>
		<% else %>
			<%= micropost.content %>
			<% vid = check4video(micropost.picture.url) %>
			<% img = check4image(micropost.picture.url) %>
			<% if vid %>
				<br>
				<%= video_tag micropost.picture.url, size: '400', controls: true, autobuffer: true %>
			<% elsif img %>
				<%= image_tag micropost.picture.url %>
			<% end %>
		<% end %>
	</span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(micropost.created_at) %> ago.
		<% if current_user?(micropost.user) %>
			<%= link_to "delete", micropost, method: :delete,
					data: { confirm: "Are you sure?" } %>
		<% end %>
	</span>
</li>